extends ../layout

block content
	h1= value.nome
	hr
	p Login: #{value.login}
	p Nome: #{value.nome}
	p Data do Cadastro: #{value.data_cad}
	br
	form(method="POST",action="/usuarios/delete/#{value._id}", role="form")
		input(type="hidden" name="_method" value="delete")
		input(type="submit", value="Excluir", class= "btn btn-danger")
		&nbsp&nbsp
		a(href="/usuarios" title="Voltar", class= "btn btn-warning") Voltar
