extends ../layout
block content
	h1 Painel de Caronas
	hr
	br
	br
	if msgUpdate
		div(class="alert alert-info")
		p Registro atualizado com sucesso!
	br
	table(class="table")
		thead
			tr
				th Locais:
				th Origem:
				th Destino:
				th Quantidade de vagas:
				th Data:
				th Horario:
				th Placa:
				th Nome do Motorista:
				th id_usuario:
		tbody
		each valor, i in lista
			tr
				td #{valor.locais}
				td #{valor.origem}
				td #{valor.destino}
				td #{valor.qtdVagas}
				td #{valor.dat}
				td #{valor.horario}
				td #{valor.placa}
				td #{valor.nome}
				td #{valor.id_usuario}