extends ../layout
block content
	h1 Página de carona
	hr
	br
	br
	if msgUpdate
		div(class="alert alert-info")
		p Registro atualizado com sucesso!
	br
	table(class="table")
		thead
			tr
				th Locais:
				th Origem:
				th Destino:
				th Quantidade de vagas:
				th id_usuario:
		tbody
		each valor, i in lista
			tr
				td #{valor.locais}
				td #{valor.origem}
				td #{valor.destino}
				td #{valor.qtdVagas}
				td #{valor.id_usuario}