extends ../layout

block content
	h1 Página de carona
	hr
	br
	br
	if msgUpdate
		div(class="alert alert-info")
		p Registro atualizado com sucesso!
	br
	table(class="table")
		thead
			tr
				th Locais:
				th Origem:
				th Destino:
				th qtdVagas:
				th id_usuario:
		tbody
		each valor, i in lista
			tr
				td #{valor.locais}
				td #{valor.origem}
				td #{valor.destino}
				td #{valor.qtdVagas}
				td #{valor.id_usuario}
				td
					a(href="usuarios/edit/#{valor._id}", title="Editar", class="btn btn-info")
						span(class="glyphicon glyphicon-pencil")
					&nbsp
					a(href="usuarios/show/#{valor._id}", title="Editar", class="btn btn-primary")
						span(class="glyphicon glyphicon-search")
					&nbsp
					a(href="/carona/create/#{valor.id_usuario}" title="Cadastrar", class="btn btn-success") Cadastrar
	